# Copy to .env and fill in. NEVER commit .env
FOOTBALL_API_KEY=
FOOTBALL_API_PROVIDER=
WP_BASE_URL=https://forestgreen-gazelle-406881.hostingersite.com
WP_APP_USER=Claudio
WP_APP_PASSWORD=
FTP_HOST=
FTP_USER=claudio
FTP_PASSWORD=
